
<body>
<h1> Uputstvo za koriscenje portala Fizika</h1>
<div class="row step-by-step-style-one">
  <div class="small-12 columns">
    <div class="path-item">
      <div class="circlenumber">
        <h3>1</h3>
      </div>
      <h5>Registracija novog korisnika</h5>
      <p> Korisnik klikom na opciju "Novi Korisnik" u zaglavlju portala ima mogućnost da  otvari  polja za
        registraciju koja treba popuniti. U prvom polju treba uneti svoju
        "e-mail" adresu,  zatim u polju  "password "  svoju buduću šifru, a u polju " password  confirmation"
        potvrdi svoju šifru. Posle popunjavanja svih polja za registraciju klikom na dugme "Unesi podatke" šalju se
        podaci o novom korisniku  u bazu.  Svi korisnici koji pristupaju portalu “Fizika“ u koliko nisu
        registrovani  imaju mogućnost da postave pitanje administratoru portala preko opcije "Kontakt".</p>
    </div>
    <div class="path-item">
      <div class="circlenumber">
        <h3>2</h3>
      </div>
      <h5>Prijava korisnika</h5>
      <p>Kako bi pristupio portalu nakon registracije korisnik mora da se prijavi. U zaglavlju portala klikom
        na opciju " Prijavi se " korisnik otvara polja za prijavu. U prvom polju korisnik unosi svoju "e-mail"
        adresu,  a u drugom  polju  "password "  svoju šifru. Nakon toga klikom na dugme " Prijavi se " pristupa
        portalu "Fizika".</br>
        Nakon prijavljivanja korisnik može da pristupi svom profilu na portalu  "Fizika". Otvaranjem profila
        nude mu se mogućnosti da pregleda sve testove i zadatke koji su postavljeni na portalu, kao i da kontaktira
        administratora ili izmeni svoje profilne podatke.
       </p>
      <div class="panel">
        <h5>Izmena korisničkih podataka</h5>  <p>U zaglavlju klikom na opciju "Upravljanje profilom"
        prikazuje se padajući meni sa opcijama "Izmeni podatke u profilu" i "Odjavi se" . Klikom na opciju
        "Izmeni podatke u profilu"  korisnik može da izmeni podatke u poljima koja je popunjavao pri registraciji
        . Opcijom  "Odjavi se" korisnik napušta svoj profil na portalu.
      </p>
      </div>
    </div>
    <div class="path-item">
      <div class="circlenumber">
        <h3>3</h3>
      </div>
      <h5>Pregled  testova sa takmičenja</h5> </br>
      <p>   Klikom na opciju iz menija "Testovi" ,a otvara se padaju'i meni sa dodatnim pocijama i to
        1.opcija "Testovi sa takmičenja"  i 2. "Pripremni zadaci". U prvom slučaju  korisnik može da pregleda sve testove sa
        takmičenja koji su na portalu postavljeni u okviru tabele. U tabeli su date informacije o testu kao
        što su: Novo Takmičenje, Razred, Godina, Opis, i Id testa. Poslednja opcija u tabeli je „ Prikaz “,
        to je opcija koja korisniku daje mogućnost da pogleda i preuzme odabrani test. Na stranici se nalazi polje za e
        pretragu testa u koji treba uneti traženi nivo takmičenja ili razreda.
        Nakon čega klikom na dugme „Pretraga“ portal prikazuje testove koje smo tražili. Ispod tabele su postavljena
        dva linka „Kalendar takmicenja iz fizike“ i „Centar za promociju nauke“ .
        Druga  opcija "Pripremni zadaci" ima iste mogućnosti i izgled , kao i opcija "Testovi sa takmičenja".

      </p>
    </div>
  </div>
</div>

<hr>

<div  class="row step-by-step-style-two">
  <div  class="small-12 large-4 columns">
    <div class="path-item">
      <div class="circlenumber">
        <h3>1</h3>
      </div>
      <p>DIY selvage laboris normcore voluptate, actually farm-to-table aliqua kitsch velit selfies tote bag Odd Future you probably haven't heard of them single-origin coffee. Neutra drinking vinegar readymade, asymmetrical do whatever photo booth.</p>
    </div>
  </div>
  <div  class="small-12 large-4 columns">
    <div class="path-item">
      <div class="circlenumber">
        <h3>2</h3>
      </div>
      <p>Lo-fi Portland occaecat art party, seitan sint direct trade eiusmod cliche labore salvia. Sustainable freegan art party biodiesel cliche adipisicing. Labore Godard in selvage organic, fashion axe whatever.</p>
    </div>
  </div>
  <div  class="small-12 large-4 columns">
    <div class="path-item">
      <div class="circlenumber">
        <h3>3</h3>
      </div>
      <p>Gluten-free shabby chic normcore, Brooklyn keffiyeh veniam chia Shoreditch. Laborum aliquip fap Godard ethnic, American Apparel ad ex farm-to-table kogi ullamco. Chia sriracha scenester hella.</p>
    </div>
  </div>
</div>
</body>
</html>
