<div class="testimonial-wrap">
  <div class="row">
    <div class="large-12 columns centered-text">
      <h2>Poznati naučnici</h2>
    </div>
    <hr/>
    <div class="large-12 columns testimonial">
      <div class="quote">
        <p><h4>FIZIKA</h4>Fizika (grčki phusis, fysis: priroda) je nauka koja se bavi proučavanjem prirode.
          Ona proučava osobine prirodnih pojava, uzroke njihovog nastanka, kao i zakonitosti
          po kojima se te pojave dešavaju. Mnogi fizičari su proučavali  ponašanje i međusobne
          veze materije u prostoru i vremenu i pri tome došli do velikih otkrića koja su promenila svet.</p>
      </div>
  </div>
  <hr/>
  <div class="row">
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Arhimed  (Archimedes, 287 – 212 p.n.e) je bio grčki fizičar, matematičar i mehaničar iz Sirakuze na Siciliji.
          Školovao se u Aleksandriji, tadašnjem kulturnom centru sveta i bio je jedan od najpametnijih aleksandrijskih učenika.
          Svojim otkrićima otvorio je nove oblasti u nauci.
          Prvi je izračunao približnu vrednost brojaπ (π = 3,1408 do 3,1429) i pronašao metode za izračunavanje obima kruga i
          zaizračunavanje površine i zapremine lopte i valjka. Otkrio je zakon o plivanju tela, zakon poluge i prvi dokazao zakone ravnoteže.
          Bio je dobar mehaničar i izumeo je veliki broj alata, sprava i mašina koje su pomogle njegovim sunarodnicima da se odbrane od napada Rimljana.
          Nakon dve godine uspešne odbrane Rimljani su osvojili grad Sirakuzu i ubili Ahimeda. Prema njegovoj želji, sunarodnici su mu na grobu podignuli
          spomenik, na kome su se nalazila dva geometrijska tela, valjak i  lopta u njemu. "Eureka!" je njegova izreka.</p>
      </div>
      <div class="student">
        <div class="photo"><%= image_tag("/image/arhimed.jpg" ) %></div>
        <p>Arhimed </p>
        <p>(Archimedes, 287 – 212 p.n.e)</p>
      </div>
    </div>
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p> Galileo Galilej (Galileo Galilei, 1564 - 1642) je bio italijanski fizičar,  matematičar,astronom i filozof prirode.
          Njegova su istraživanja postavila temelje modernoj mehanici i fizici. Osnivač je balistike, nauke o kretanju projektila i začetnik meteorologije,
          nauke o zemljinoj atmosferi i promenama u njoj. Dokazo je da se zrno metka ispaljenog iz oružja kreće po putanja u obliku parabole, izumeo je prvi termometar,
          proporcionalni kompas, hidrostatičku vagu koja određuje gustinu tela i razvio teoriju o upotrebi klatna u časovniku. 1609. godine konstruisao je prvi astronomski
          teleskop i njime je video planine na Mesecu, Mlečni put kao ogromni skup zvezda, Jupiterove satelite, Venerine mene i Sunčeve pege.  Kruženje satelita oko Jupitera
          je pomoglo Galileju da shvati da se ne obrće sve oko Zemlje i da ona nije centar svemira. Zbog te tvrdnje crkva ga je proglasila krivim i osudila na doživotni zatvor.
          “Ipak se okreće” je rečenica koju je izgovorio kad su ga osudli, iako se pre toga javno odrekao svog učenja  </p>
      </div>
      <div class="student">
        <div class="photo"><%= image_tag("/image/galileo_galilej.jpg" ) %></div>
        <p>Galileo Galilej</p>
        <p>(Galileo Galilei, 1564 - 1642)</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Isak Njutn (sir Isaac Newton, 1643 - 1727) bio je engleski fizičar, matematičar, astronom, alhemičar i filozof prirode. Prvi je dokazao
          da se kretanja tela na Zemlji i kretanja nebeskih tela vrše pod istim fizičkim zakonima i da je za to odgovorna ista sila koju je nazvao
          univerzalna gravitacija. Svoju teoriju gravitavije objašnjavao je pomoću jabuke i njenog vertikalnog pada sa drveta na zemlju. Prvi je opisao
          vezu između kretanja tela i sila koje deluju na telo kroz tri zakona kretanja koja se zovu Njutnovi zakoni kretanja i predstavljaju temelj klasične
          mehanike.  Napravio prvi praktični refleksioni (ogledalski) teleskop i otkrio da se pomoć trostrane prizme bela svetlost može razložiti u spektar
          različitih boja, a da uz pomoć sočiva i pomoću druge prizme, ovaj spektar može ponovo da se složi ili sastavi u zrak bele svetlosti.</p>
      </div>
      <div class="student">
        <div class="photo"><%= image_tag("/image/isak_njutn.jpg" ) %></div>
        <p>Isak Njutn</p>
        <p>(sir Isaac Newton, 1643 - 1727)</p>
      </div>
    </div>
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Nikola Tesla  je jedan od najpoznatijih svetskih pronalazača i naučnika u oblasti fizike, elektrotehnike i radiotehnike. Rođen je 10. jula 1856. u selu
          Smiljan kod Gospića, a umro je 7. januara 1943. u Njujorku (SAD). Njegova urna sa pepelom preneta je u Beograd jula 1957. godine i nalazi u Muzeju Nikole Tesle.
          Najznačajniji Teslini pronalasci su polifazni sistem, obrtno magnetno polje, asinhroni motor, sinhroni motor i Teslin transformator. Tesla je otkrio jedan od načina
          za generisanje visokofrekventne struje, dao je značajan doprinos u prenosu i modulaciji radio-signala, a ostali su zapaženi i njegovi radovi u oblasti rendgenskih zraka.
          Njegov sistem naizmeničnih struja je omogućio znatno lakši i efikasniji prenos električne energije na daljinu. Bio je ključni čovek na izgradnji prve hidrocentrale na
          Nijagarinim vodopadima, gde mu je 1976. godine postavljen bronzani spomenik, isti kao spomenik koji se nalazi ispred Elektrotehničkog fakulteta u Beogradu. Po njemu dobila
          je ime međunarodna jedinica mere za gustinu magnetnog fluksa - Tesla (T) </p>
      </div>
      <div class="student">
        <div class="photo"><%= image_tag("/image/Tesla3.jpg" ) %></div>
        <p>Nikola Tesla</p>
        <p>(Nikola Tesla, 1856 - 1943)</p>
      </div>
    </div>
  </div>
</div>
</div>