
<head>
  <title>pocetna</title>
</head>
<body>
<p id="notice"><%= notice %></p>

<ul class="example-orbit" data-orbit>
  <li>
    <img src="/image/naslovna1.png" alt="slide 1" />
    <div class="orbit-caption"> Dobro dosli na portal </div>
  </li>

  <li>
    <img src="/image/naslovna2.png" alt="slide 2" />
    <div class="orbit-caption"> Testovi sa takmicenja </div>
  </li>
  <li>
    <img src="/image/naslovna3.png" alt="slide 1" />
    <div class="orbit-caption"> Zabavna Fizika </div>
  </li>

  <li>
    <img src="/image/naslovna2.png" alt="slide 2" />
    <div class="orbit-caption"> Postavite pitanje </div>
  </li>


</ul>
  <h1 class="subheader">O Portalu</h1>
  <blockquote>    Dobrodošli ljubitelji fizike na portal “ Fizika“ .
    Portal “ Fizika “ je namenjem mladim ljubiteljima fizike osnvnih škola.
    Na ovom portalu možete pristupiti testovima sa takmičenja iz fizike održanim na svim nivoima
    i razredima. Svi testovi su postavljeni i dostupni za preuzimanje sa rešenjima. Takođe je moguće
    besplatno preuzeti pripremne zadatke iz fizike za VI, VII i VIII razred osnovnih škola. Dostupna je
    skupljena baza svih takmičenja od 1991. godine do danas, kao i korisnih linkova za takmičenje osnovih
    škola .Cilj ovog portala je da olakša pristup učenicima pri takmičenju iz fizike u traženju testova i rešenja .
    Portal “ Fizika “nastao je kao Specijalsticki rad studenta Visoke Škole Tehničkih Strukovnih Studija
    Čačak Nenada Milenkovića sa profesorom-mentorom mr Brankom Markovićem.
    Ceo portal je rađen u Ruby on Rails - u .<cite>Autor portala: Nenad Milenkovic</cite>
  </blockquote>

<!-- Linkovana reklama -->
<h4 class="subheader">Kalendar takmicenja iz fizike</h4>
<a href="http://takmicenja.dfs.rs/?page_id=121&lng=lat" >
   <img src="http://takmicenja.dfs.rs/wp-content/uploads/2012/02/Takmicenja-JPEG-3.jpg" />
</a>

</body>


